In [1]:
import pandas as pd

In [2]:
load_ext sql

In [3]:
%sql duckdb://

Connecting to 'duckdb://'

In [4]:
%%sql 
CREATE or REPLACE TABLE my_birds AS 
FROM read_csv_auto('/Users/clarahughes/DATA/Birds/Ebird/Magdalena_2020_2025/ebd_CO-MAG_202001_202505_relMay-2025.txt')
;

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

In [6]:
table = pd.read_table('/Users/clarahughes/DATA/Birds/Ebird/Magdalena_2020_2025/ebd_CO-MAG_202001_202505_relMay-2025.txt', low_memory=False)

In [7]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998216 entries, 0 to 998215
Data columns (total 53 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   GLOBAL UNIQUE IDENTIFIER    998216 non-null  object
 1   LAST EDITED DATE            998216 non-null  object
 2   TAXONOMIC ORDER             998216 non-null  int64
 3   CATEGORY                    998216 non-null  object
 4   TAXON CONCEPT ID            998216 non-null  object
 5   COMMON NAME                 998216 non-null  object
 6   SCIENTIFIC NAME             998216 non-null  object
 7   SUBSPECIES COMMON NAME      41053 non-null   object
 8   SUBSPECIES SCIENTIFIC NAME  41053 non-null   object
 9   EXOTIC CODE                 2068 non-null    object
 10  OBSERVATION COUNT           998216 non-null  object
 11  BREEDING CODE               14384 non-null   object
 12  BREEDING CATEGORY           14384 non-null   object
 13  BEHAVIOR CODE               14384 non-null   object
 14  AGE/SEX                     1140 non-null    object
 15  COUNTRY                     998216 non-null  object
 16  COUNTRY CODE                998216 non-null  object
 17  STATE                       998216 non-null  object
 18  STATE CODE                  998216 non-null  object
 19  COUNTY                      0 non-null       float64
 20  COUNTY CODE                 0 non-null       float64
 21  IBA CODE                    233653 non-null  object
 22  BCR CODE                    0 non-null       float64
 23  USFWS CODE                  0 non-null       float64
 24  ATLAS BLOCK                 0 non-null       float64
 25  LOCALITY                    998216 non-null  object
 26  LOCALITY ID                 998216 non-null  object
 27  LOCALITY TYPE               998216 non-null  object
 28  LATITUDE                    998216 non-null  float64
 29  LONGITUDE                   998216 non-null  float64
 30  OBSERVATION DATE            998216 non-null  object
 31  TIME OBSERVATIONS STARTED   995187 non-null  object
 32  OBSERVER ID                 998216 non-null  object
 33  OBSERVER ORCID ID           4109 non-null    object
 34  SAMPLING EVENT IDENTIFIER   998216 non-null  object
 35  OBSERVATION TYPE            998216 non-null  object
 36  PROTOCOL NAME               998216 non-null  object
 37  PROTOCOL CODE               998216 non-null  object
 38  PROJECT NAMES               1921 non-null    object
 39  PROJECT IDENTIFIERS         1921 non-null    float64
 40  DURATION MINUTES            963007 non-null  float64
 41  EFFORT DISTANCE KM          821359 non-null  float64
 42  EFFORT AREA HA              212 non-null     float64
 43  NUMBER OBSERVERS            994461 non-null  float64
 44  ALL SPECIES REPORTED        998216 non-null  int64
 45  GROUP IDENTIFIER            701075 non-null  object
 46  HAS MEDIA                   998216 non-null  int64
 47  APPROVED                    998216 non-null  int64
 48  REVIEWED                    998216 non-null  int64
 49  REASON                      0 non-null       float64
 50  CHECKLIST COMMENTS          91571 non-null   object
 51  SPECIES COMMENTS            52029 non-null   object
 52  Unnamed: 52                 0 non-null       float64
dtypes: float64(14), int64(5), object(34)
memory usage: 403.6+ MB

In [8]:
%%sql CREATE VIEW my_view AS SELECT "GLOBAL UNIQUE IDENTIFIER", "COMMON NAME", "SCIENTIFIC NAME", "TAXONOMIC ORDER", "CATEGORY",
    "OBSERVATION COUNT", "AGE/SEX", "EXOTIC CODE", "IBA CODE", "BCR CODE", "LATITUDE", "LONGITUDE", "OBSERVATION DATE", 
    "TIME OBSERVATIONS STARTED", "OBSERVER ID", "OBSERVATION TYPE", "PROTOCOL CODE", "DURATION MINUTES",
    "EFFORT DISTANCE KM", "NUMBER OBSERVERS", "ALL SPECIES REPORTED", "REVIEWED", "CHECKLIST COMMENTS", "SPECIES COMMENTS"
FROM my_birds;

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

In [9]:
result = %sql SELECT * FROM my_view;

Running query in 'duckdb://'

In [10]:
result = result.DataFrame()

In [11]:
type(result)

pandas.core.frame.DataFrame

In [12]:
result.to_csv("ebird_magdelena_20_25.csv", index = False)